* { border-collapse: collapse; z-index: 0; }

body {
  width:900px;
  margin:auto;
  padding-top:20px;
  color:#000000;
  background:#000000;
  font-family: Tahoma;
}
#wrapper {
  background:#FFF6E8;
  padding-top:40px;
  padding-bottom:3px;
  padding-left:5px;
  padding-right:5px;
}

header {
  height:90px;
  background:#FFF6E8;
  color:#075F3B;
  text-align:center;
  font-family:"Courier New", Helvetica;
}

nav {
  background:#E39619;
  padding:10px 0px 10px 0px;
  background: -webkit-linear-gradient(left top, #E39619, #FFD48E,#E39619 );
  background: -moz-linear-gradient(left top, #E39619, #FFD48E,#E39619 );
  font-size:1.3em;
  text-align: center;
}
#content {
  height:40%;
  margin:10px 0px 10px 0px;
  padding:15px 15px 15px 15px;
  background:white;
}

#beer-list {
	height:500px;
	overflow:auto;
}
footer{
  text-align:center;
  padding:15px 0px 15px 0px;
  background:#FFD48E;
  background: -webkit-linear-gradient(left top, #FFD48E, #FFF6E8, #FFD48E );
  background: -moz-linear-gradient( top left,#FFD48E,#FFF6E8, #FFD48E);
}

.accent-light {color:#119A6C;}
.accent {color:#075F3B;}
.accent-border {border:1px solid #119A6C;}
.shadow {
  -moz-box-shadow: 5px 5px 5px #000;
  -webkit-box-shadow: 5px 5px 5px #000;
  box-shadow: 5px 5px 5px #000;
}
.corners-all {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.corners-top {
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;

  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
}

/*----- positioning classes -----*/
.clearFix { clear: both }
.center { margin-left: auto; margin-right: auto; display: block; }
.hidden { display:none; }
.shown { display: inline-block; }
.left { float: left; }
.right { float: right; }
.topleft { position: relative; top: -10px; right: 10px; float: left; margin: 0;}

/*----- UX classes -----*/
.red { color: red }
.pointer { cursor: pointer; }
.span { display: inline-block; }
.fauxLink { font-weight: bold; text-decoration: underline; cursor: pointer; }

/*----- text-positioning -----*/
.padded { padding: 10px; }
.doublespaced { line-height: 2.5em; }
.ui-button-text { padding: .2em .5em !important; }

.button { cursor: pointer; }


