<div id="billboard">
  <div id="panels">
    <div id="panel-left" class="left">
      <ul id="menu-list">
      </ul>
    </div>
    
    <div id="panel-right" class="left">
      <div id="menu-detail"></div>
      
      <div id="scrolling-feed-widget" >
          <div class="padded">@barleyboard Twitter Feed</div>
	      <div id="scrolling-feed" class="padded" >
	      
	      </div> 
      </div> 
    
    </div>
    <div class="clearFix"></div>
  </div>
  <div id="menu-footer" >
    {{menu.footer}}
  </div>
</div>