<div id="billboard">
  <div id="panels">
    <div id="panel-left" class="left">
      <ul id="menu-list">
      </ul>
    </div>
    
    <div id="panel-right" class="left">
      <div id="menu-detail">
      
      </div>
      <div class="clearFix"></div>
      
      <div id="scrolling-feed-widget" >
          <div class="scrolling-feed-header padded"><span class="twitter-name">@barleyboard</span>
            <img class="left" height="20" width="20" src="{{STATIC_URL}}images/icons/twitter_cap.png"></img>
          </div>
	      <div id="scrolling-feed" class="padded" >
	      
	      </div> 
      </div> 
    
    </div>
    <div class="clearFix"></div>
  </div>
  <div id="menu-footer" >
    {{menu.footer}}
  </div>
</div>