<style type="text/css">
body {background-color: #000000;}
.left {float:left;}
.right {float:right}
.padded {padding: 5px;}

.beer-name {
  /* color:black !important; */
  font-size:1.8em;
  padding:5px 5px 0px 5px;
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
}	
	
.brewery-name, .abv { 
  font-size:1.0em;
  font-family: Arial, Helvetica, sans-serif;
  padding:0px 3px 0px 3px;
}

#billboard {
  width:{{WIDTH}}px;
  height:{{HEIGHT}}px;
  border:1px solid white;
}
#panels {
  height:90%;
  width:100%;
}
#panel-left {
  width:33%;
  height:100%;
}
#panel-right {
  width:66%;
  height:100%;
  border:2px solid #075F3B;
}
#menu-detail {
  height:75%;
  width:75%;
  float:right;
  
  background: -webkit-linear-gradient(left top, #FFD48E, #FFF6E8, #FFD48E );
  background: -moz-linear-gradient( top left,#FFD48E,#FFF6E8, #FFD48E);
}

#menu-item-detail-header {
  border:2px solid #075F3B;
  font-size:1.8em;
}



ul { list-style-type:none; padding:0;}

.menu-item {
  margin-bottom:3px;
  background:#FFD48E;
  background: -webkit-linear-gradient(top, #FFD48E, #FFF6E8, #E39619 );
  background:-moz-linear-gradient( top,#FFD48E,#FFF6E8, #E39619);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
 }

.grid-cell.first {
  /* border-top:3px solid #606B8C; */
  border-top:3px solid {{TITLE_COLOR}};
}

#menu-footer {
  color:{{TITLE_COLOR}};
  height:{{MENU_FOOTER_HEIGHT}};
  font-size:1.5em;
  text-align:center;
  padding: 5px 0px 5px 0px;
}

</style>