<style type="text/css">
body {background-color: #000000;}

.beer-name {
  font-size:20px;
  padding:5px 5px 0px 5px;
}

.beer-name {
	text-align:center; 
}
.brewery-name, .abv { 
  font-size:.8em;
  padding:0px 3px 0px 3px;
}

#billboard {
  width:{{WIDTH}}px;
  height:{{HEIGHT}}px;
  /*border:2px solid white;*/
}

#menu-title {
  height:{{MENU_TITLE_HEIGHT}}%;
  text-align:center;
  font-size:1.5em; 
  font-family:"Courier New", Helvetica;
  font-weight:bold;
}

#menu-title, #menu-footer {color:{{TITLE_COLOR}};}

#menu-grid {
  height:{{MENU_GRID_HEIGHT}}%;
  width:{{MENU_GRID_WIDTH}}%;
  
  float: left;
  padding:0px;
}

.col {
  height:{{COL_HEIGHT}}%;
  width:{{COL_WIDTH}}%;
  border-left:3px solid {{TITLE_COLOR}};
  /* border-left:3px solid #606B8C; */
}

.col.last {
  border-right:3px solid {{TITLE_COLOR}};
  /* border-right:3px solid #606B8C; */
}

.grid-cell {
  height:{{GRID_CELL_HEIGHT}}%;
  width:{{GRID_CELL_WIDTH}}%;
  /* border-bottom:3px solid #606B8C; */ 
  border-bottom:3px solid {{TITLE_COLOR}};
}

.grid-cell.first {
  /* border-top:3px solid #606B8C; */
  border-top:3px solid {{TITLE_COLOR}};
}

#menu-footer {
  height:{{MENU_FOOTER_HEIGHT}}%;
  font-size:18px;
  text-align:center;
  padding: 5px 0px 5px 0px;
}
</style>