<style type="text/css">
body {background-color: #000000;}
.left {float:left;}
.right {float:right}
.padded {padding: 5px;}
.clearFix {clear:both;}

.beer-name {
  /* color:black !important; */
  font-size:1.8em;
  padding:5px 5px 0px 5px;
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
}	

.beer-type, .beer-abv {
  font-size:1.75em;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
}
.beer-type {
  border-radius: 5px;
  padding-left:3px;
  padding-right:3px;
}

.brewery-name { 
  font-size:1.2em;
  font-family: Arial, Helvetica, sans-serif;
  padding:0px 3px 0px 3px;
}

.brewery-location {
  font-size:1.0em;
  font-family: Arial, Helvetica, sans-serif;
  padding:0px 3px 0px 3px;
}
#billboard {
  width:{{WIDTH}}px;
  height:{{HEIGHT}}px;
  border:1px solid white;
}
#panels {
  height:90%;
  width:100%;
}
#panel-left {
  width:32%;
  height:100%;
  padding-left:5px;
  padding-right:5px;
  overflow:hidden;
  position:relative;
}

#menu-list {
  position:absolute;
  /*width:95%;*/
}
#panel-right {
  width:66.8%;
  height:100%;
  /* border:2px solid #075F3B; */
}
#menu-detail {
  position:relative;
  float:right;
  height:70%;
  width:85%;
  
  margin:auto;
  margin-top:2%;
  margin-bottom:2%;
  margin-right:0px;
  border-right:0px;
}

#menu-item-detail-header {
  width:100%;
  border:7px solid {{ACCENT_BORDER_COLOR}};
  border-right:0px;
  border-style:ridge;
  font-size:1.8em;
  float:right;
  margin-right:0px;
  padding-left:25px;
  background:#FFD48E;
  //background: -webkit-linear-gradient(left top, #FFD48E, #FFF6E8, #FFD48E );
  background: -webkit-linear-gradient(top, {{ACCENT_COLOR_MED}}, {{ACCENT_COLOR_LIGHT}}, {{ACCENT_COLOR_DARK}} );
  background: -moz-linear-gradient( top left,#FFD48E,#FFF6E8, #FFD48E);
  border-top-left-radius: 50px 50px;
  border-bottom-left-radius: 50px 50px;
}

#menu-item-detail-content {
	width:75%;
	margin:auto;
	height:60%;
	background:#FFF6E8;
	border:7px solid {{ACCENT_BORDER_COLOR}};
	border-top:0px;
	border-style:ridge;
	border-bottom-right-radius: 25px 25px;
    border-bottom-left-radius: 25px 25px;
}
#ad-content {
    width:85%;
    text-align:center;
	height:71%;
	background:#FFF6E8;
	border:7px solid {{ACCENT_BORDER_COLOR}};
	border-top:0px;
	border-style:ridge;
	border-bottom-right-radius: 25px 25px;
    border-bottom-left-radius: 25px 25px;
}


#scrolling-feed-widget {
  background:#FFD48E;
  height:20%;
  width:95%;
  margin:auto;
  font-family:Arial, Helvetica, sans-serif;
  border-radius:5px;
}
.scrolling-feed-header {
  background:#9AE4E8;
  height:20%;
  border-bottom:1px solid #0084B4;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

#scrolling-feed {
   background:#FFF6E8;
   font-size:1em;
   overflow:hidden;
   height:80%;
   border-bottom-left-radius:5px;
   border-bottom-right-radius:5px;
}
.twitter-name {
	margin:14px 0px 0px 5px;
}

ul { list-style-type:none; padding:0;}

.menu-item {
  height:{{MENU_ITEM_HEIGHT}};
  margin-bottom:3px;
  background:#FFD48E;
  background: -webkit-linear-gradient(top, #FFD48E, #FFF6E8, #E39619 );
  background:-moz-linear-gradient( top,#FFD48E,#FFF6E8, #E39619);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-left:7px solid black;
  border-right:7px solid black;
 }
.menu-item-active {
  border-left: 0px;
  border:7px solid {{ACCENT_BORDER_COLOR}} !important;
  border-style:ridge !important;
  border-radius:0px !important;
  
  
}

#menu-footer {
  color:{{TITLE_COLOR}};
  height:{{MENU_FOOTER_HEIGHT}};
  font-size:1.5em;
  text-align:center;
  padding: 5px 0px 5px 0px;
}

</style>