<div class="menu-item" style="background-color:{{ item.beer.beer_type.color1 }}">
      <span class="beer-name" style="color:{{ item.beer.beer_type.color2 }}">{{item.beer.name}}</span>
      <span class="beer-type" style="color:{{ item.beer.beer_type.color3 }}">{{item.beer.beer_type}}</span> 
      <span class="beer-abv" style="color:red;">{{item.beer.abv}}</span>
      <br />
      <cite class="brewery-name">{{item.beer.brewery}} - {{item.beer.brewery.city}}, {{item.beer.brewery.state}}</cite> 
      
 </div>