<script type="text/template" id="beer-item">

  <div id="<%= cid %>" style='background-color:<%= color1 %>;' class="beer">
      <div class='beer-name' style='color:<%= color2 %>;'><%= name %></div>
   
      <div>
        <span class='brewery-name' style='color:<%= color3 %>;'><%= brewery %></span>
        <span class='beer-type right' style='color:<%= color3 %>;'><%= beer_type %></span>
      </div> 
      <div>
        <span class='brewery-name'style='color:<%= color3 %>;'><%= brewery_city %>, <%= brewery_state %> </span>
        <span class="beer-abv right" ><%= abv %></span>
      </div>
 </div>
  
</script>