<!DOCTYPE HTML>
<html>
<head>
  
</script> 

<script src="{{ STATIC_URL }}js/jquery-1.6.4.min.js" ></script> 
<script src="{{ STATIC_URL }}js/underscore-min.js" ></script>  
<script src="{{ STATIC_URL }}js/backbone.js" ></script> 
<script src="{{ STATIC_URL }}js/billboard.js" ></script>

<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />

{% include "billboard/billboard_css.html" %}

<script type="text/javascript">
$(document).ready(function(){
  
  onMenu = new OnMenu({{menuItems|safe}});
  
  onMenu.load_grid();  
});
</script>

</head>
<body>

<div id="billboard">
  {% include "billboard/live_grid.html" %}
</div>

{% include "billboard/menu_item_template.html" %}

</body>  
</html>