<!DOCTYPE HTML>
<html>
<head>
  
</script> 

<script src="{{ STATIC_URL }}js/jquery-1.6.4.min.js" ></script> 
<script src="{{ STATIC_URL }}js/underscore-min.js" ></script>  
<script src="{{ STATIC_URL }}js/backbone.js" ></script> 
<script src="{{ STATIC_URL }}js/billboard.js" ></script>
<!--
<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
-->
{% include "billboard/billboard_css.html" %}

{% include "billboard/menu_item.html" %}

<script type="text/template" id="menu-item-detail">
  <div id="menu-item-detail-header" class="padded" >
      <div class='beer-name' ><%= name %></div>
	  <span class='beer-type'><%= beer_type %></span>
      <span class="beer-abv right" ><%= abv %></span>
  </div>  

  <div id="menu-item-detail-content" class="padded">
  <div>
    Brewed by <span class='brewery-name' ><%= brewery %></span>
  </div>  
  <div class='brewery-name'><%= brewery_city %>, <%= brewery_state %> </div>
  
  </div>
</script>

<script type="text/template" id="ad-template">
  <div id="menu-item-detail-header" class="padded" >
      <div class="beer-name">Your Ad Here</div>
 </div>
 <h3>Visit barleyboard.com for more details</h3>
</script>

<script type="text/javascript">
$(document).ready(function(){
  window.menu_id = {{menu.id}};
  display_settings = {{display_settings|safe}};
  beerList = new Beers({{menuItems|safe}});
  beerCollectionView = new BeerCollectionView({collection:beerList, el:'#menu-list'});
  menuItemDetailView = new MenuItemDetailView({collection:beerList}); 
  
  //window.setTimeout(ping,5*1000);
  refresh_display();
   
});

function ping(){
	  $.get("/ping/menu/"+menu_id, function(data){
		 if (data.error)  console.log(data.error);
		 else window.location="";
	  });
}

function refresh_display(){
	window.setTimeout(function(){
		  menuItemDetailView.next();
		  refresh_display();
	  }, 5*1000);
}

var pos = 100;
function Scroll(){
    //get the id of the scrolling text box.
    obj=$("#menu-footer")[0];
    //subtract 1 from pos and check pos value using offsetHeight, which retrieves the height of the object relative to the layout.
    pos -=1;
 
    if(pos < 0 - obj.offsetHeight+130) return;
    //set a new height value using JavaScript style object.
    obj.style.top=pos;
    //finally the function calls itself using a timeout..
    window.setTimeout( "Scroll();" ,  30);
}

</script>

</head>
<body>

{% include "billboard/bb_one_col.html" %}

</body>  
</html>
