<!DOCTYPE HTML>
<html>
<head>
  
</script> 

<script src="{{ STATIC_URL }}js/jquery-1.6.4.min.js" ></script> 
<script src="{{ STATIC_URL }}js/underscore-min.js" ></script>  
<script src="{{ STATIC_URL }}js/backbone.js" ></script> 
<script src="{{ STATIC_URL }}js/billboard.js" ></script>
<!--
<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
-->
{% include "billboard/billboard_css.html" %}

<script type="text/javascript">
$(document).ready(function(){
  window.menu_id = {{menu.id}};
  onMenu = new OnMenu({{menuItems|safe}});
  onMenu.load_grid();  
    
  window.setTimeout(ping,5*1000);
});

function ping(){
	  $.get("/ping/menu/"+menu_id, function(data){
		 if (data.error)  console.log(data.error);
		 else window.location="";
	  });
}
</script>

</head>
<body>

<div id="billboard">
  {% include "billboard/live_grid.html" %}
</div>
{% include "billboard/menu_item_template.html" %}
</body>  
</html>