<!DOCTYPE HTML>
<html>
<head>

<script src="{{ STATIC_URL }}js/jquery-1.6.4.min.js" ></script> 
<script src="{{ STATIC_URL }}js/underscore-min.js" ></script>  
<script src="{{ STATIC_URL }}js/backbone.js" ></script> 
<script src="{{ STATIC_URL }}js/billboard.js" ></script>

<!-- Include dynamic CSS and template scripts -->
{% include "billboard/billboard_css.html" %}
{% include "billboard/menu_item.html" %}

<script type="text/template" id="menu-item-detail">
  <div id="menu-item-detail-header" class="padded" >
      <div class='beer-name' ><%= name %></div>
	  <span class='beer-type'><%= beer_type %></span>
      <span class="beer-abv right" ><%= abv %></span>
  </div>  
  <div class="clearFix"></div>
  <div id="menu-item-detail-content" class="padded">
  <div>
    <span class='brewery-name' ><%= brewery %></span>
  </div>  
  <div class='brewery-location'><%= brewery_city %>, <%= brewery_state %> </div>
  
  <div class='beer-stats'>
     <ul>
       <li>ABV: <%= abv %></li>
       <li>IBU: 46
       <li>
        <img src="{{STATIC_URL}}images/icons/gold_medal.png"></img>
        <img src="{{STATIC_URL}}images/icons/silver_medal.png"></img>
        <img src="{{STATIC_URL}}images/icons/bronze_medal.png"></img>
      </li>
       <li>
	 </ul>
  </div>
   
  </div>
</script>

<script type="text/template" id="ad-template">
  <div id="menu-item-detail-header" class="padded" >
      <div class="beer-name">Barleyboard.com</div>
 </div>
<div class="clearFix"></div>
  <div id="ad-content" class="padded">
	<img height="250" width="250" src="{{STATIC_URL}}images/dev_bb_qrcode.png"></img>
</div>

</script>



<script type="text/javascript">
$(document).ready(function(){
  
  window.menu_id = {{menu.id}};
  display_settings = {{display_settings|safe}};
  
  beerList = new Beers({{menuItems|safe}});
  beerCollectionView = new BeerCollectionView({collection:beerList, el:'#menu-list'});
  menuItemDetailView = new MenuItemDetailView({collection:beerList}); 
  
  
  tweets = new Tweets();
  twitterFeed = new TwitterFeed({collection:tweets, el:"#scrolling-feed"})
  twitterFeed.fetch();
  
  
  twitterFeed.update();  
  //window.setTimeout(ping,5*1000);
  refresh_display();
   
});

function ping(){
	  $.get("/ping/menu/"+menu_id, function(data){
		 if (data.error)  console.log(data.error);
		 else window.location="";
	  });
}

function refresh_display(){
	/* Updates the actively displayed beer.
	 *
	 */
	window.setTimeout(function(){
		  menuItemDetailView.next();
		  refresh_display();
	  }, 5*1000);
}

</script>

</head>
<body>

{% include "billboard/bb_one_col.html" %}

</body>  
</html>
