#billboard {
  border:2px solid black;
}

#menu-title {
  text-align:center;
}

.menu-item {
  border:1px solid black;
  float: left;
  padding:5px;
}

.beer-name, .brewery-name {
  padding:3px;
}

.beer-type {
  float:right;
}  
  
.brewery-name { 
  font-size:.8em;
}

#beer-list {
  width:200px;
  list-style-type:none;
  padding:5px;
 }  