<!DOCTYPE html>
<html>
  <head>
    <title>Barleyboard</title>
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/base.css "/>
    </style>
  </head>
  <body class="shadow">
    
    <div id="wrapper">
      <header class="padded"><h1>Welcome to Barleyboard.com</h1></header>
      <nav class="corners-all padded accent accent-border">Coming Soon</nav>
      <div id="content" class="padded corners-all accent-border" >
        <div>
        <p>Barley Board is currently in development. We expect to be up and running
           <span class="accent">mid-January</span>. Please check back then.</p>
           
        </div>
      </div>
      <footer class="corners-all padded accent-border">
        <cite>Built by Solalla Web Services</cite>
      </footer>
    </div>
  </body>
</html>

