<!DOCTYPE HTML>
<head>

<title>{% block title %}Welcome to Keg TV{%endblock%}</title>

<script src="{{ STATIC_URL }}js/jquery-1.6.4.min.js" ></script> 
<script src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js" ></script>
<script src="{{ STATIC_URL }}js/underscore-min.js" ></script>  
<script src="{{ STATIC_URL }}js/backbone.js" ></script> 

<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.8.16.custom.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />


<script type="text/javascript">
$(document).ready(function(){
  {% block ready  %}{% endblock %}    
});
</script>
{% block extrahead %}{% endblock %}  
</head>

<body>
<div id="wrapper">
<header class="padded">
<h1>Barleyboard.com</h1>
<p>What's on Tap?</p>
</header>
<nav class="corners-all padded accent accent-border">
  <div>
  <a href="/">Home</a> |
  <a href="/billboard/">Billboards</a> | 
  <a href="/admin/" target="_blank">Admin</a>
  </div>
</nav>


<div id="content" class="padded corners-all accent-border" >
  {% block content %}{% endblock %}
</div>
<footer class="corners-all padded accent-border">
  Footer Goes Here
</footer>
</div>
</body>
</html>